.properties_panel__container_header {
  padding: 0.75rem 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
}
.properties_panel__properties_container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
}

.properties_panel__properties_container__empty {
  text-align: center;
  color: #9e9e9e;
  font-size: 0.75rem;
  padding: 0.5rem 1.5rem;
}
